.spin-tasker-logo {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.spin-icon-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 2px;
  vertical-align: middle;
  flex-shrink: 0;
}

.spin-icon-svg {
  width: 100%;
  height: 100%;
  color: currentColor;
}

